<head>
		<title>{% block title %} Login {% endblock %}</title>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>


<h3 style="position:relative;left:40%"> Welcome Here!! <h3>

<div style="position:relative;left:35%"> 
<button onclick="window.location.href = '/pregister';" class="btn btn-success">Register as Patient</button>
<button onclick="window.location.href = '/dregister';" class="btn btn-success">Register as Doctor</button>
<button onclick="window.location.href = '/login';" class="btn btn-success">Login</button>
</div>
